/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;

}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.main,
.container > header {
	width: 100%;
	height:240px;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.container > header .top {background:url(../images/header.png) top center no-repeat; position:absolute; top:0; left:0; width:100%; height:240px; z-index:2;}
.container > header {
}

.container > header nav .hl h1 {
	font-size: 2.25em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 400;
}



.container > header nav { z-index:1; -webkit-box-shadow: inset 0px 0px 20px 10px #E0E0E0; box-shadow: inset 0px 0px 20px 10px #E0E0E0; border:1px solid #FFF;
	background-image:url(../images/bg.png); padding:200px 0 75px;-webkit-border-radius: 10px;
    border-radius: 10px; 
	margin: 0 10%; height: auto;	
}

.container > header nav .h1 {widows:857px; font-size:1.25em; text-align:center; line-height: 38px; color:#5b5b5b; text-shadow: 1px 1px 1px #FFF;}
.container > header nav .sub {background:url(../images/box.png) top center no-repeat; width:857px; height:197px; margin: 0 auto;}
.container > header nav .sub form {padding: 85px 125px; float: left;}
.container > header nav .sub form input[type="text"] {width: 485px; border:none; float:left; height:30px; padding: 5px; font-size:14px;}
.container > header nav .sub form input[type="submit"] {width:120px; float:left; border:none; background: none; height:30px; padding:5px; cursor:pointer;}


/* 
.container > header span {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}
.container > header nav a {
	display: block;
	float: left;
	position: relative;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	color: transparent;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
	text-indent: -8000px;
}

.container > header nav a:after {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}

.container > header nav a:hover:after {
	opacity: 1;
}

.container > header nav a:hover {
	background: #47a3da;
} */

.icon-drop:before, 
.icon-arrow-left:before {
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
}

.container > header nav a:hover:before {
	color: #fff;
}

.icon-drop:before {
	content: "\e000";
}

.icon-arrow-left:before {
	content: "\f060";
}
/*==============button======================*/
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #ff0000;
  *background-color: #ff0000;
  background-image: -moz-linear-gradient(top, #ff0000, #990000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#990000));
  background-image: -webkit-linear-gradient(top, #ff0000, #990000);
  background-image: -o-linear-gradient(top, #ff0000, #990000);
  background-image: linear-gradient(to bottom, #ff0000, #990000);
  background-repeat: repeat-x;
  border: 1px solid #ff0000;
  *border: 0;
  border-color: #ff0000 #ff0000 #990000;
  border-color: rgba(239, 90, 22, 0.1) rgba(239, 90, 22, 0.1) rgba(195, 62, 0, 0.25);
  border-bottom-color: #ff0000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#990000', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #fff;
  background-color: #ff0000;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
  background-image: -moz-linear-gradient(top, #990000, #ff0000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#990000), to(#ff0000));
  background-image: -webkit-linear-gradient(top, #990000, #ff0000);
  background-image: -o-linear-gradient(top, #990000, #ff0000);
  background-image: linear-gradient(to bottom, #990000, #ff0000);
  background-repeat: repeat-x;
  /* background-position: 0 -15px; */
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
/*==============Login form======================*/
